node-red/flows.json
[{"type":"tab","id":"fc260019.427a4","label":"Raspberry Pi","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"20422dc7.ba3d12","label":"Mon serveur","_def":{"defaults":{"label":{"value":""}}}},{"type":"tab","id":"f63c456e.d0b278","label":"Twitter","_def":{"defaults":{"label":{"value":""}}}},{"id":"ebfc368e.9e1548","type":"mqtt-broker","z":"fc260019.427a4","broker":"m21.cloudmqtt.com","port":"10313","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7e3b21e0.1e575","type":"websocket-listener","z":"fc260019.427a4","path":"/ws/moisdujs","wholemsg":"false"},{"id":"e07d03ac.247a9","type":"mqtt-broker","z":"20422dc7.ba3d12","broker":"m21.cloudmqtt.com","port":"10313","tls":null,"clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"17f2204d.2365e","type":"websocket-listener","z":"20422dc7.ba3d12","path":"/ws/test","wholemsg":"false"},{"id":"89fc96bc.2ebaf8","type":"twitter-credentials","z":"fc260019.427a4","screen_name":"@aginiers"},{"id":"146a3a9f.1d20e5","type":"websocket-listener","z":"20422dc7.ba3d12","path":"/ws/twitter","wholemsg":"false"},{"id":"90e51cf.9cde0e","type":"mqtt out","z":"fc260019.427a4","name":"Broker MQTT topic temperature","topic":"temperature","qos":"","retain":"","broker":"ebfc368e.9e1548","x":951.5,"y":118,"wires":[]},{"id":"6c72b67.278e948","type":"function","z":"fc260019.427a4","name":"Fonction de conversion R => °C","func":"msg.payload = msg.payload / 1000\nreturn msg;","outputs":1,"noerr":0,"x":648.5,"y":118,"wires":[["90e51cf.9cde0e"]]},{"id":"efb0b4b8.3dd208","type":"inject","z":"fc260019.427a4","name":"3/s","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":true,"x":87.5,"y":263,"wires":[["d8571aec.3d7418"]]},{"id":"d8571aec.3d7418","type":"function","z":"fc260019.427a4","name":"R","func":"msg.payload = 21000 + Math.random()*3000;\nreturn msg;","outputs":1,"noerr":0,"x":210.5,"y":262,"wires":[["beaa486a.0dea08"]]},{"id":"612229e4.7e1ab8","type":"mqtt in","z":"20422dc7.ba3d12","name":"Broker MQTT topic temperature","topic":"temperature","qos":"2","broker":"e07d03ac.247a9","x":207,"y":78,"wires":[["f19d2e75.fa799","6fb9ef0.72bcb1"]]},{"id":"f19d2e75.fa799","type":"debug","z":"20422dc7.ba3d12","name":"","active":false,"console":"false","complete":"payload","x":489.5,"y":142,"wires":[]},{"id":"afe20e9d.d9b31","type":"serial in","z":"fc260019.427a4","name":"R","serial":"","x":211.5,"y":118,"wires":[["beaa486a.0dea08"]]},{"id":"beaa486a.0dea08","type":"delay","z":"fc260019.427a4","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":401.5,"y":118,"wires":[["6c72b67.278e948"]]},{"id":"6fb9ef0.72bcb1","type":"websocket out","z":"20422dc7.ba3d12","name":"","server":"17f2204d.2365e","client":"","x":494.5,"y":78,"wires":[]},{"id":"2b884fcb.de248","type":"comment","z":"fc260019.427a4","name":"Mock","info":"","x":210.5,"y":227,"wires":[]},{"id":"1f924e0f.f7c912","type":"mqtt in","z":"f63c456e.d0b278","name":"tweet #moisdujs","topic":"tweet","qos":"2","broker":"e07d03ac.247a9","x":163,"y":184,"wires":[["76f8a4ed.1ea32c","daef5501.de8868"]]},{"id":"76f8a4ed.1ea32c","type":"websocket out","z":"f63c456e.d0b278","name":"","server":"146a3a9f.1d20e5","client":"","x":450.5,"y":184,"wires":[]},{"id":"daef5501.de8868","type":"debug","z":"f63c456e.d0b278","name":"","active":false,"console":"false","complete":"payload","x":433.5,"y":247,"wires":[]},{"id":"5e0f65ff.9185fc","type":"twitter in","z":"f63c456e.d0b278","twitter":"89fc96bc.2ebaf8","tags":"#moisdujs","user":"false","name":"moisdujshashtag","topic":"tweets","x":167,"y":74,"wires":[["8932cbb1.8b1bb8"]]},{"id":"bb67308c.9491f","type":"mqtt out","z":"f63c456e.d0b278","name":"tweet #moisdujs","topic":"tweet","qos":"2","retain":"","broker":"ebfc368e.9e1548","x":717,"y":71,"wires":[]},{"id":"8932cbb1.8b1bb8","type":"function","z":"f63c456e.d0b278","name":"append user to message","func":"msg.payload += ' - par @' + msg.tweet.user.screen_name;  \n\nreturn msg;","outputs":1,"noerr":0,"x":455,"y":72,"wires":[["bb67308c.9491f"]]}]